.login-background-image {
    background-image: url(/metronic/img//bg/bg-1.jpg);
}

.form-control-feedback {
    padding-left: 20px;
    font-size: 14px !important;
    font-weight: 200;
    color: #ff0000;
    text-shadow: -0.5px 0.5px #000;
}