@using Microsoft.AspNetCore.Hosting
@model Rosmery.Security.STS.Models.ErrorViewModel
@inject IHostingEnvironment host

@{
    var error = Model?.Error?.Error;
    var errorDescription = host.IsDevelopment() ? Model?.Error?.ErrorDescription : null;
    var request_id = Model?.Error?.RequestId;
}

<div class="m-grid__item m-grid__item--fluid m-grid m-error-6 error-background-image">
    <div class="m-error_container">
        <div class="m-error_subtitle m--font-light">
            <h1>Oops...</h1>
        </div>
        <p class="m-error_description m--font-light">
            Looks like something went wrong.
            @if (error != null)
            {
                <strong>
                    <em>
                        : @error
                    </em>
                </strong>

                if (errorDescription != null)
                {
                    <div>@errorDescription</div>
                }
            }
        </p>
    </div>
</div>
