@model Rosmery.Security.STS.Models.Account.ForgotPasswordViewModel

<div class="m-grid m-grid--hor m-grid--root m-page">
    <div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor m-login m-login--signin m-login--2 m-login-2--skin-1 login-background-image" id="m_login">
        <div class="m-grid__item m-grid__item--fluid m-login__wrapper">
            <div class="m-login__container">
                <div class="m-login__logo">
                    <a href="#">
                        <img src="~/metronic/img/logos/logo-1.png">
                    </a>
                </div>

                <div class="m-login__forget-password">
                    <div class="m-login__head">
                        <h3 class="m-login__title">Forgotten Password ?</h3>
                        <div class="m-login__desc">Enter your email to reset your password:</div>
                    </div>
                    <form class="m-login__form m-form" asp-controller="Account" asp-action="ForgotPassword" method="post" role="form">
                        <input type="hidden" asp-for="ReturnUrl" value="@ViewData["ReturnUrl"]" />
                        <div class="form-group m-form__group">
                            <input class="form-control m-input" asp-for="Email" type="text" placeholder="Email" name="email" id="m_email" autocomplete="off">
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="m-login__form-action">
                            <button id="m_login_forget_password_submit" type="submit" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air m-login__btn m-login__btn--primary">Request</button>&nbsp;&nbsp;
                            <a asp-action="Login" asp-controller="Account" asp-route-returnUrl="@ViewData["ReturnUrl"]" class="btn btn-outline-focus m-btn m-btn--pill m-btn--custom  m-login__btn">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
