@model Rosmery.Security.STS.Models.Account.RegisterViewModel

<div class="m-grid m-grid--hor m-grid--root m-page">
    <div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor m-login m-login--signin m-login--2 m-login-2--skin-1 login-background-image" id="m_login">
        <div class="m-grid__item m-grid__item--fluid m-login__wrapper">
            <div class="m-login__container">
                <div class="m-login__logo">
                    <a href="#">
                        <img src="~/metronic/img/logos/logo-1.png">
                    </a>
                </div>

                <div class="m-login__signup">
                    <div class="m-login__head">
                        <h3 class="m-login__title">Sign Up</h3>
                        <div class="m-login__desc">Enter your details to create your account:</div>
                    </div>
                    <form class="m-login__form m-form"
                          asp-controller="Account"
                          asp-action="Register"
                          asp-route-returnUrl="@ViewData["ReturnUrl"]"
                          method="post">

                        <div class="form-group m-form__group">
                            <input class="form-control m-input"
                                   type="text"
                                   placeholder="User Name"
                                   name="username"
                                   asp-for="UserName">
                            <span asp-validation-for="UserName" class="form-control-feedback"></span>
                        </div>
                        <div class="form-group m-form__group">
                            <input class="form-control m-input"
                                   type="text"
                                   placeholder="Email"
                                   name="email"
                                   autocomplete="off"
                                   asp-for="Email">
                            <span asp-validation-for="Email" class="form-control-feedback"></span>
                        </div>
                        <div class="form-group m-form__group">
                            <input class="form-control m-input"
                                   type="password"
                                   placeholder="Password"
                                   name="password"
                                   asp-for="Password">
                            <span asp-validation-for="Password" class="form-control-feedback"></span>
                        </div>
                        <div class="form-group m-form__group">
                            <input class="form-control m-input m-login__form-input--last"
                                   type="password"
                                   placeholder="Confirm Password"
                                   name="confirmpassword"
                                   asp-for="ConfirmPassword">
                            <span asp-validation-for="ConfirmPassword" class="form-control-feedback"></span>
                        </div>
                        <div class="row form-group m-form__group m-login__form-sub">
                            <div class="col m--align-left">
                                <label class="m-checkbox m-checkbox--light">
                                    <input type="checkbox" name="agree">I Agree the <a href="#" class="m-link m-link--focus">terms and conditions</a>.
                                    <span></span>
                                </label>
                                <span class="m-form__help"></span>
                            </div>
                        </div>
                        <div class="m-login__form-action">
                            <button type="submit" class="btn m-btn m-btn--pill m-btn--custom m-btn--air m-login__btn m-login__btn--primary">Sign Up</button>&nbsp;&nbsp;
                            <a asp-action="Login" asp-controller="Account" asp-route-returnUrl="@ViewData["ReturnUrl"]" class="btn m-btn m-btn--pill m-btn--custom m-btn--air m-login__btn">Cancel</a>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>


